<template>
<div>
  <div class="porfile"><br>
      <center><h1 class="text">Profile</h1></center>
<br>
    <b-card-group deck>
      <b-card img-height="600"  img-src="https://scontent.fbkk12-4.fna.fbcdn.net/v/t1.0-9/13260251_980590242009139_7328302336993540644_n.jpg?_nc_cat=103&_nc_sid=85a577&_nc_eui2=AeG3YwslXoV59d6QLbsv9KUGjBtIiUo9j-mMG0iJSj2P6TUUsBT3bZ-i7zz3RZZ-L-r_LoyeqxETRVk2ZlOfUMqj&_nc_ohc=2Oe6ghzTmdMAX8RfJI8&_nc_ht=scontent.fbkk12-4.fna&oh=143a6ffdcf9b80dce760e33833820828&oe=5EDB3904" img-alt="Card image" img-top>
      </b-card>

      <b-card img-height="200" img-src="https://pr.mju.ac.th/goverment/25590428090422_prMJU/Logo_25620704120702_752394.png" img-alt="Card image" img-bottom>
        <b-card-text class="text-center">
          <h3>ชื่อ-นามสกุล: นาย ชาตรี ใจเย็น</h3><br>
          <h3>ชื่อเล่น: ต๊อก</h3><br>
          <h3>อายุ: 21 ปี</h3><br>
          <h3>เกิดวันที่: 7 สิงหาคม 2541</h3><br>
          <h3>สีที่ชอบ: นํ้าเงิน</h3><br>
          <h3>สัตว์ที่ชอบ: สุนัข</h3><br>

        </b-card-text>
      </b-card>
    </b-card-group>
  </div>
  <div class="mt-4">
    <h2 class="text1">My Skill</h2>
    <b-card img-width="300" img-height="300" img-src="https://reder.red/wp-content/uploads/2019/10/soft-skill-vjgodjd.jpg" img-alt="Card image" img-left class="mb-3">
      <b-card-text>
        <br><br><br><br><h3 class="text-center"> Html , Java Script , CSS , Git </h3>
      </b-card-text>
    </b-card>

    <h2 class="text-right">My Hobbie</h2>
    <b-card img-width="300" img-height="300" img-src="https://webguideanyplace.com/wp-content/uploads/2020/01/hobby.jpg" img-alt="Card image" img-right>
      <b-card-text>
        <br><br><br><br><h3 class="text-center"> ดูหนัง , ฟังเพลง , เที่ยว , เล่นเกม , ดูข่าว </h3>
      </b-card-text>
    </b-card>
  </div>
</div>
</template>

<style>
    .text {
      color:white;
    }
    .text1 {
      color: green;
    }
    .text-right {
      color: yellow;
    }
</style>