<template>
    <div>

      <div class="padding">
        <div class="text-center">
        <h1 class="text-white">About Me</h1><br>
      </div>
    <b-card-group deck>

       <b-card >
         <b-img center src="https://cdn4.iconfinder.com/data/icons/project-management-2-9/65/61-512.png" 
       rounded="circle" alt="Circle image" width="120" height="120" ></b-img>
      <b-card-text class="text-center">
        <br>
        <h4>MY SKILL</h4>
        <br>
        
        Java scrip : Basic <br>
        Html : Good <br>
        Css : Basic <br>
        git : Basic <br>
        English : Good <br>
      </b-card-text>
      <template v-slot:footer>
      </template>
    </b-card>

      <b-card >
         
       
<div >
  <b-carousel class="carouselz"
    interval="2000"
    fade
    
  >
    <b-carousel-slide  class="carouselz" interval="2000" fade
      img-src="https://scontent.fcnx4-1.fna.fbcdn.net/v/t1.0-9/88325759_2933336676756516_5651205534422925312_n.jpg?_nc_cat=105&_nc_sid=85a577&_nc_eui2=AeFUkSSW2xCLgOeQfGtcQ9LwI115xluksVYjXXnGW6SxVivpYAGd4nbTnFsF5P59YwSqyapXyMJFa7WJPJBqVE2y&_nc_ohc=WS9STZ5v2RgAX-oB5U-&_nc_ht=scontent.fcnx4-1.fna&oh=d85b3984a0d76d7e4eb8f516368ddb80&oe=5EDA2A5B "
     ></b-carousel-slide>
    <b-carousel-slide class="carouselz" interval="2000" fade
      img-src="https://scontent.fcnx4-1.fna.fbcdn.net/v/t1.0-9/83155081_2834807996609385_6774574245239324672_n.jpg?_nc_cat=104&_nc_sid=7aed08&_nc_eui2=AeEG9OenJbLtDSZe91SnFnWuLOxL4Hf8nugs7Evgd_ye6GrMHt2hcGwz11x8u9iCMLTEezJ8zWjyR--8Z2oFzmop&_nc_ohc=a5q8Cv0ZDIQAX-bO7q2&_nc_ht=scontent.fcnx4-1.fna&oh=c169959728f8b4c779fbc438d39f6b55&oe=5EDAE12E"
    ></b-carousel-slide>
    <b-carousel-slide class="carouselz" interval="2000" fade
      img-src="https://scontent.fcnx4-1.fna.fbcdn.net/v/t1.0-9/p960x960/62217797_2397455493677973_5663550232504303616_o.jpg?_nc_cat=107&_nc_sid=7aed08&_nc_eui2=AeEo-4MYrlK28BfXiOn-eEqtWCabo0wXyOhYJpujTBfI6P3CCBFBCJBsgAWYvQMIbe9d4mvCygQIgE4A0h3EUhLJ&_nc_ohc=sybC4tuNYO4AX9_cy1F&_nc_ht=scontent.fcnx4-1.fna&_nc_tp=6&oh=f226a6564c5c4e136e59d1e31fd4c005&oe=5ED94BCA"
    ></b-carousel-slide>
  </b-carousel>
</div>

      <b-card-text class="text-center">
        <br>
        <h4>MY PROFILE</h4>
        <br>
        ชื่อ : ทัพพ์ พุทธิเมธากุล<br>
        ชื่อเล่น : ทัพพ์  <br>
        อายุ : 21 เพศ : ชาย<br>
        ส่วนสูง : 163 น้ำหนัก : 55 <br>
        วัน/เดือน/ปี เกิด : 12 มกราคม 2542
        
        
      </b-card-text>
      <template v-slot:footer>
      </template>
    </b-card>

      <b-card >
         <b-img center src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTJUVod9eSTit3wukHW1CUJzu1eh7M2HI8YadeAwKlBWy9Hy5P2&usqp=CAU" 
       rounded="circle" alt="Circle image" width="120" height="120" ></b-img>
      <b-card-text class="text-center">
        <br>
        <h4>MY HOBBIE</h4>
        <br>
        taekwondo <br>
        running  <br>
        Nature travel <br>
        Take a photo  <br>
        Play Game : Rov , Rainbow six siege  <br>
 
      </b-card-text>
      <template v-slot:footer>
      </template>
    </b-card>

    </b-card-group>

<div class="padding2">
    <div class="text-center">
  <b-button id="show-btn" @click="$bvModal.show('bv-modal-example')">Contact me</b-button>

  <b-modal id="bv-modal-example" hide-footer>
    <template v-slot:modal-title>
     ช่องทางการติดต่อ
    </template>
    <div>
      <p>Email : tup47257@gmail.com</p>
      
      <p >Facebook : <b-link class="text-my-own-color" href="https://web.facebook.com/tup.phutthimathakul">Tup (click) </b-link></p>
      <p >instagram : <b-link class="text-my-own-color" href="https://www.instagram.com/ituppee/">ituppee (click)</b-link></p>
      <p >Line : <b-link class="text-my-own-color" href="https://line.me/ti/p/jUrtlFW8nl">tupforwhat (click)</b-link></p>
      <p >Gitlab : <b-link class="text-my-own-color" href="https://gitlab.com/Tupputti">Tupputti (click)</b-link></p>
      <p>เบอร์โทร : 062-3095242</p>
    </div>
    <b-button class="mt-3" block @click="$bvModal.hide('bv-modal-example')">Close Me</b-button>
  </b-modal>
</div>
</div>


    
  </div>
    </div>
</template>


<style>
  .padding{
    margin-top: 3rem;
    margin-right: 15rem;
    margin-left: 15rem;
  }
  .padding2{
    margin-top: 1rem;
  }
  .text-my-own-color {
  color: #000000 !important;
}
  .carouselz{
    
    margin: auto;
    border-radius: 100px 100px 100px 100px;
    overflow: hidden; 
    width:120px;
    height:120px;
  }
</style>

