<template>
  <div>
    <b-navbar type="dark" variant="dark">
      <b-navbar-nav>
        <b-nav-item>
          <img
            src="https://www.ejw-bernhausen.de/wp-content/uploads/2018/05/Trainee-Logo-blau.png"
            width="100"
            height="30"
        /></b-nav-item>

        <b-nav-item to="/">Tup</b-nav-item>
        <b-nav-item to="/mano">Mano</b-nav-item>
        <b-nav-item to="/tok">Tok</b-nav-item>
      </b-navbar-nav>
    </b-navbar>
    <router-view />
  </div>
</template>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
